# Brown Scholars Internship 2019-2020 - Urban Wildlife in NYC

New York City is home to many diverse species of wildlife that arrived or existed long before humans settled here.
In October 2016, Mayor Bill de Blasio launched WildlifeNYC, a citywide education and awareness campaign teaching New Yorkers how to live safely and responsibly alongside wild animals including deer, raccoons, and coyotes.

Urban wildlife is any wild animal that lives in an urban environment, such as New York City. Urban wildlife includes birds, mammals, reptiles, fish and amphibians. Some urban wildlife is native, like eastern grey squirrels, while some are non-native, like mute swans. Domesticated and companion animals, like dogs, exotic pets, and farm animals are not considered urban wildlife. Domesticated but feral animals like pigeons and stray cats are also not considered urban wildlife.

Using information about requests for animal assistance, relocation, and/or rescue completed by the Urban Park Rangers, we will attempt to get a better understanding of the different species of wildlife that call the Big Apple home.

Data source: https://data.cityofnewyork.us/Environment/Urban-Park-Ranger-Animal-Condition-Response/fuhs-xmg2

In [1]:
# First we'll start by importing packages we'll use

import numpy as np
import pandas as pd
pd.set_option('display.max_rows', 1000)

In [2]:
# Then import the data. For now, the csv file should be in the same directory as the notebook.
# Notice that we are importing the date and time info as type 'datetime'

data = pd.read_csv('Urban_Park_Ranger_Animal_Condition_Response.csv',
                   parse_dates = ['Date and Time of initial call', 'Date and time of Ranger response'])

Note: if you want to export the data, use df.to_csv(filename), where df is the name of your dataframe and filename is the name of the file where you want to save the data. The csv file will get created in the same directory as the notebook.

In [18]:
data.head()

,Date and Time of initial call,Date and time of Ranger response,Borough,Property,Location,Species Description,Call Source,Species Status,Animal Condition,Duration of Response,...,311SR Number,Final Ranger Action,# of Animals,PEP Response,Animal Monitored,Rehabilitator,Hours spent monitoring,Police Response,ESU Response,ACC Intake Number
0,2019-06-12 09:20:00,2019-06-12 09:20:00,Manhattan,Washingtom Square Park,on Sidewalk accross from the park near 10 Wash...,Red-tailed Hawk,Other,Native,NaN,0.5,...,NaN,Advised/Educated others,1.0,False,False,NaN,NaN,False,False,NaN
1,2019-06-11 16:15:00,2019-06-11 16:20:00,Bronx,Van Cortlandt Park,Adjacent to VC Golf House,Canada Goose,Public,Native,Injured,0.5,...,1-1-1733837211,Unfounded,1.0,False,False,NaN,NaN,False,False,NaN
2,2019-06-10 13:00:00,2019-06-10 13:30:00,Brooklyn,Irving Square Park,Northwest corner of the park,Parrot,Public,Exotic,NaN,1.5,...,NaN,Unfounded,1.0,False,False,NaN,NaN,False,False,NaN
3,2019-06-09 09:30:00,2019-06-09 10:00:00,Brooklyn,Parade Ground,Prospect Park Parade Grounds near Tennis Center,Chicken,Central,Domestic,Healthy,3.0,...,1-1-1730643971,ACC,1.0,False,False,NaN,NaN,False,False,65352
4,2019-06-09 12:50:00,2019-06-09 12:55:00,Staten Island,Silver Lake Park,Bridge,Red-Eared Slider,Employee,Invasive,Injured,2.0,...,1-1-1724490913,ACC,2.0,True,False,NaN,NaN,False,False,65379 65380

## Inspecting and cleaning the data

Now that the data is loaded, we want to get familiar with it. To learn more about what the data looks like we can try any of the following commands:
- data.head( ) - to look at the first 5 rows
- data.tail( ) - to look at the last 5 rows
- data.shape - to get the number of rows and columns
- data.info( ) - to get the names of the columns, how many non null pieces of data is in each column, and the type of data in each column
- data.nunique( ) - to get how many unique values are in each column
- data.max() - to get the highest value in each column
- data.min() to get the lowest value in each column
- data['col'].value_counts() - to get how many unique values are in a particular column

In [93]:
# Let's figure out how much data we have
data.shape
data.count()

In [13]:
# Let's figure out what kind of data we have
data.info()

In [94]:
# Let's figure out what kind of data we have
data.nunique()

Date and Time of initial call       903
Date and time of Ranger response    943
Borough                               5
Property                            193
Location                            867
Species Description                 138
Call Source                           6
Species Status                        4
Animal Condition                      4
Duration of Response                 29
Age                                   7
Animal Class                         18
311SR Number                        533
Final Ranger Action                   7
# of Animals                         10
PEP Response                          2
Animal Monitored                      2
Rehabilitator                        10
Hours spent monitoring               14
Police Response                       2
ESU Response                          2
ACC Intake Number                   399
dtype: int64

In [21]:
# It seems like we have some null values, but do we also have repeat values?
#Yes, for example: data["Borough"].value_counts() shows a repeating number of borogh names
data["Borough"].value_counts()

Manhattan        475
Brooklyn         218
Queens           137
Staten Island     84
Bronx             68
Name: Borough, dtype: int64

In [7]:
# It seems like all columns have repeat vaules, going from the names of the columns that makes sense.
# For example, there are 982 data in the Borough column but only 5 unique values.
# This is congruent with our knowledge that there are only 5 boroughs in NYC:
# Bronx, Brooklyn, Manahattan, Queens, Staten Island
# Make sure our assumption is correct

By now, we also have a sense of which columns may have null values. It may be or not be ok for a column to have null values. One way to replace null values with some other value is using data.fillna(x) where x is the value we want instead of the null. It doesn't seems like this is necessary in this case.

In addition, the data may not be in 'standard' form, that is for example, having the strings 'yes', 'YES', and 'Yes' all be values contained in the same column. To verify that the data in a column is in 'standard' form, we can use data['column_name'].unique(). For example, what happens when we try data['Species Description'].unique()? What happens when we try data['Species Status'].unique()? To replace values, we can use data['column name'].replace('yes','Yes') to replace all 'yes' values with 'Yes' values (for example).

In [95]:
# Let's find out what the unique values are for "Property". We will sort them first so we can id misspellings
# hint: use data['Property'].sort_values().unique()
data['Property'].sort_values().unique()

array(['5 East 102nd St', '851 Fairmont Pl', 'Abingdon Square',
       'Alley Pond Park', 'Alley Pond Park Tennis Courts Near Court 16',
       'Allison Pond Park', 'Altamont House', 'Annadale Green',
       'Astoria Park', 'Baisley Pond Park', 'Bartel-Pritchard Square',
       'Battery Park City', 'Bedford Playground', 'Bellevue South Park',
       'Blood Root Valley', 'Bloomingdale Park', 'Blue Heron Park',
       'Bowling Green', 'Bowne Park', 'Bradys Pond Park', 'Bronx Park',
       'Brooklyn Bridge Park', 'Brookville Park', 'Bryant Park',
       'Bushwick Inlet Park', 'Cadman Plaza Park', 'Calvert Vaux Park',
       'Cambria Playground', 'Canarsie Park', 'Captain Tilly Park',
       'Carl Schurz Park', 'Cenral Park', 'Centrail Park',
       'Central  Park', 'Central Park', 'Chelsea Park',
       'Churchill School', 'Clove Lakes Park', 'Coffey Park',
       'College Point Park', 'Colonel Charles Young Playground',
       'Concrete Plant Park', 'Coney Island Beach &amp; Boardwalk',
       'Conference House Park', 'Crocheron Park', 'Crotona Park',
       'Cunningham Park', 'Decatur Playground', 'Dongan Playground',
       'Dubos Point Wildlife Sanctuary', 'Dyker Beach Park',
       'Ehrenreich-Austin Playground', 'Evergreen Park',
       'Ferry Point Park', 'Flushing Fields',
       'Flushing Meadows Corona Park',
       'Flushing Meadows Corona Park Boathouse', 'Forest Park',
       'Fort Greene Park', 'Fort Hamilton Recreation Center',
       'Fort Totten Park', 'Fort Tryon Park', 'Fort Washington Park',
       'Frank Golden Park', 'Franklin D. Roosevelt Boardwalk and Beach',
       'Frederick B. Judge Playground', 'Frederick Douglass Playground',
       'Ft Tryon Park', 'Garden Playground', 'Greeley Square Park',
       'Green Street', 'Green-Wood Cemetery',
       'Greenbelt Recreation Center', 'Haffen Park',
       'Hamilton Fish Recreation Center', 'Harding Park', 'Harvey Park',
       'Hester St. Playground', 'High Rock Park',
       'Highbridge Recreation Center', 'Highland Park', 'Highline Park',
       'Historic Richmond Town', 'Historic Richmond town',
       'Historic Richmondtown', 'Hudson Park', 'Hudson River Park',
       'Hudson Yards entrance to Highline Park',
       'Hylan Boulevard and Ithaca Street', 'Industrial Park',
       'Inwood Hill Park', 'Irving Square Park', 'Isham Park',
       'J. Hood Wright Park', 'Jacob H. Schiff Playground',
       'Jacob Joffe Fields', 'James Finley Walk', 'Joe Michaels Mile',
       'John V. Lindsay East River Park', 'Joseph Manna Park',
       'Juniper Valley Park', 'Kissena Corridor Park', 'Kissena Park',
       'LaTourette Park & Golf Course', 'Lemon Creek Park',
       'Lincoln Terrace Park', 'Linnaeus Park', 'Little Bay Park',
       'Macneil Park', 'Madison Square Park', 'Magenta Playground',
       'Mannahatta Park', 'Marco Giovanelli Playground',
       'Marcy Playground', 'Maria Hernandez Park', 'Marine Park',
       'Matthews Muliner Playground', 'McCarren Park',
       'Mellet Playgroun\\d', 'Mercer Playground', 'Merriam Playground',
       'Midland Beach', 'Midland Playground', 'Morningside Park',
       'Morningside park', 'Motor Parkway', 'Mullaly Park',
       'NYC Parking Garage', 'Oakland Lake', 'Ocean Breeze Park',
       'Ocean Breeze Track & Field Athletic Complex', 'Orchard Beach',
       "Owl's Head Park", 'PS 153', 'Parade Ground',
       'Park Of The Americas', 'Pelham Bay Park', 'Playground 103 CIII',
       'Playground Eighty LXXX', 'Police Officer Edward Byrne Park',
       'Prospect Park', 'Pugsley Creek Park', 'Queens Farm Park',
       "Randall's Island Park", 'Red Hook Recreation Area',
       "Reed's Basket Willow Swamp Park", 'Riverdale Playground',
       'Riverside Park', 'Riverside Park South',
       'Robert Bendheim Playground', 'Rockaway Beach 48 Street',
       'Rockaway Beach and Boardwalk', 'Roy Wilkins Recreation Center',
       'Saratoga Park', 'Schmul Park 40.589434, -74.187249',
       'Seguine Mansion', 'Seton Falls Park',
       'Sheltering Arms Playground', 'Sherman Creek',
       'Shore Park and Parkway', 'Shore Road Park', 'Silver Lake Park',
       'Socrates Sculpture Park', 'South Beach', 'South Beach Wetlands',
       'Southern Stables', 'Space Time Playground',
       "St. Michael's Playground", 'St. Nicholas Park',
       'Story Playground', 'Stuyvesant Square', 'Sunset Park',
       'Sutton Place Park', 'Taylor Playground',
       'Theodore Roosevelt Park', 'Thomas Jefferson Recreation Center',
       'Tompkins Square Park', "Udall's Park Preserve",
       'Underhill Playground', 'Union Square Park', 'Van Cortlandt Park',
       'Van Dyke Playground', 'Washingtom Square Park',
       'Washington Market Park', 'Washington Square Park', 'Wegener Park',
       'West Harlem Piers', 'Westerleigh Park', 'Williamsbridge Oval',
       'Williamsbridge Oval Recreation Center', 'Willowbrook Park',
       "Wolfe's Pond Park", 'private property'], dtype=object)

In [28]:
# Seems like we need to make several corrections
# Here is the first one, you do the others
data['Property'].replace('Bushwick Inlet',"Bushwick Inlet Park",inplace=True)

In [33]:
# check to see corrections took place, there should only be 188 records now
data['Property'].sort_values().unique()

In [40]:
# Let's find out what the unique values are for "Species Description". We will sort them first so we can id misspelings
# hint: do something similar to what you did to find out the unique values for "Property"
data['Species Description'].sort_values().unique()

array(['2 black back gulls and 1 pigeon', 'Alligator snapping turtle',
       'American Goldfinch', 'American Oystercatcher', 'American Robin',
       'Banded Rock Pigeon', 'Bat', 'Bearded dragon', 'Big Brown Bat',
       'Bird', 'Black Racer Snake', 'Black Skimmer', 'Black backed gull',
       'Blue Jay', 'Boa Constrictor Snake', 'Brant', 'Brant Goose',
       'Canada Goose', 'Canada goose', 'Cat', 'Chicken',
       'Chinese Silky Chicken', 'Cockatiel', 'Common Snapping Turtle',
       "Cooper's Hawk", 'Coopers Hawk', 'Cormorant', 'Corn Snake',
       'Coyote', 'Deer', 'Dog', 'Dolphin', 'Domestic Dove',
       'Domestic Duck', 'Domestic Rabbit', 'Double crested cormorant',
       'Dove', 'Downy woodpecker', 'Duck', 'Duck (species unknown)',
       'Eastern Gray Squirrel', 'Egret', 'Falcon',
       'Fledgling (possibly Starling)', 'Freshwater Fish and Turtles',
       'Frog', 'Gerbil', 'Goose - White Pygmy', 'Gray squirrel',
       'Green Heron', 'Groundhog', 'Guinea Pigs', 'Guineafowl', 'Gull',
       'Harbor Porpoise', 'Harbor Seal', 'Hawk', 'Herring Gull',
       'Herring gull', 'Homing Pigeon', 'House Sparrow', 'Hummingbird',
       'Iguana', 'Infant Squirrel', 'Kestrel', 'Mallard Duck',
       'Mallard duck', 'Mandarin Duck', 'Monk Parakeet', 'Mourning Dove',
       'Muskrat', 'Mute Swan', 'Nashville warbler', 'Northern Gannet',
       'Northern Saw-whet Owl', 'Opossum', 'Painted Turtle',
       'Painted turtle', 'Parakeet', 'Parrot', 'Peregrine Falcon',
       'Pigeon', 'RACCOON', 'Rabbit', 'Raccoon', 'Racoon',
       'Rd-tailed Hawk', 'Red Bat', 'Red Tail', 'Red Tailed Hawk',
       'Red-Bellied Woodpecker', 'Red-Eared Slider', 'Red-Tailed Hawk',
       'Red-eared Slider Turtle', 'Red-eyed Vireo', 'Red-tailed Hawk',
       'Red-tailed hawk', 'Ring-Billed Gull', 'Robin', 'Rock Dove',
       'Rooster', 'Ruddy Duck', 'Saw whet owl', 'Seal',
       'Sharp Shinned Hawk', 'Silver-haired Bat', 'Skunk', 'Snake',
       'Snapping Turtle', 'Snapping turtle', 'Squirrel', 'Squirrells',
       'Swan', 'Turkey', 'Turtle', 'Turtle/ Unspecified species',
       'Unknown Species', 'Warbler', 'White Tailed Deer',
       'White throated sparrow', 'White-tailed deer', 'Woodcock',
       'Yellow Bellied Sapsucker', 'Yellow Crowned Night Heron', 'bat',
       'bird of prey', 'cormorant', 'crow', 'double crested cormorant',
       'dutch blue love bird', 'gull', 'house sparrow', 'mallard duck',
       'opossum', 'pet rabbit', 'pigeon', 'raccoon', 'red tailed-hawk',
       'silver-haired bat', 'sparrow', 'squirrel', 'turtle', 'unknown',
       'woodcock', 'yellow bellied sap-sucker', nan], dtype=object)

In [58]:
# Seems like we need to make several corrections
# Here is the first one, you do the others
data['Species Description'].replace('Bird/Unspecified Species',"Bird",inplace=True)
data['Species Description'].replace('RACCOON',"Raccoon",inplace=True)
data['Species Description'].replace('Racoon',"Raccoon",inplace=True)
data['Species Description'].replace('raccoon',"Raccoon",inplace=True)
data['Species Description'].replace('Squirrel',"Squirrel",inplace=True)
data['Species Description'].replace('squirrel',"Squirrel",inplace=True)
data['Species Description'].replace('squirrel',"Squirrel",inplace=True)
data['Species Description'].replace('Turtle/ Unspecified species',"Turtle",inplace=True)
data['Species Description'].replace('Squirrells',"Squirrel",inplace=True)
data['Species Description'].replace('Common Snapping Turtle',"Turtle",inplace=True)

In [97]:
# check to see corrections took place, there should only be 110 records now
data['Species Description'].sort_values().unique()

array(['2 black back gulls and 1 pigeon', 'Alligator snapping turtle',
       'American Goldfinch', 'American Oystercatcher', 'American Robin',
       'Banded Rock Pigeon', 'Bat', 'Bearded dragon', 'Big Brown Bat',
       'Bird', 'Black Racer Snake', 'Black Skimmer', 'Black backed gull',
       'Blue Jay', 'Boa Constrictor Snake', 'Brant', 'Brant Goose',
       'Canada Goose', 'Canada goose', 'Cat', 'Chicken',
       'Chinese Silky Chicken', 'Cockatiel', "Cooper's Hawk",
       'Coopers Hawk', 'Cormorant', 'Corn Snake', 'Coyote', 'Deer', 'Dog',
       'Dolphin', 'Domestic Dove', 'Domestic Duck', 'Domestic Rabbit',
       'Double crested cormorant', 'Dove', 'Downy woodpecker', 'Duck',
       'Duck (species unknown)', 'Eastern Gray Squirrel', 'Egret',
       'Falcon', 'Fledgling (possibly Starling)',
       'Freshwater Fish and Turtles', 'Frog', 'Gerbil',
       'Goose - White Pygmy', 'Gray squirrel', 'Green Heron', 'Groundhog',
       'Guinea Pigs', 'Guineafowl', 'Gull', 'Harbor Porpoise',
       'Harbor Seal', 'Hawk', 'Herring Gull', 'Herring gull',
       'Homing Pigeon', 'House Sparrow', 'Hummingbird', 'Iguana',
       'Infant Squirrel', 'Kestrel', 'Mallard Duck', 'Mallard duck',
       'Mandarin Duck', 'Monk Parakeet', 'Mourning Dove', 'Muskrat',
       'Mute Swan', 'Nashville warbler', 'Northern Gannet',
       'Northern Saw-whet Owl', 'Opossum', 'Painted Turtle',
       'Painted turtle', 'Parakeet', 'Parrot', 'Peregrine Falcon',
       'Pigeon', 'Rabbit', 'Raccoon', 'Rd-tailed Hawk', 'Red Bat',
       'Red Tail', 'Red Tailed Hawk', 'Red-Bellied Woodpecker',
       'Red-Eared Slider', 'Red-Tailed Hawk', 'Red-eared Slider Turtle',
       'Red-eyed Vireo', 'Red-tailed Hawk', 'Red-tailed hawk',
       'Ring-Billed Gull', 'Robin', 'Rock Dove', 'Rooster', 'Ruddy Duck',
       'Saw whet owl', 'Seal', 'Sharp Shinned Hawk', 'Silver-haired Bat',
       'Skunk', 'Snake', 'Snapping Turtle', 'Snapping turtle', 'Squirrel',
       'Swan', 'Turkey', 'Turtle', 'Unknown Species', 'Warbler',
       'White Tailed Deer', 'White throated sparrow', 'White-tailed deer',
       'Woodcock', 'Yellow Bellied Sapsucker',
       'Yellow Crowned Night Heron', 'bat', 'bird of prey', 'cormorant',
       'crow', 'double crested cormorant', 'dutch blue love bird', 'gull',
       'house sparrow', 'mallard duck', 'opossum', 'pet rabbit', 'pigeon',
       'red tailed-hawk', 'silver-haired bat', 'sparrow', 'turtle',
       'unknown', 'woodcock', 'yellow bellied sap-sucker', nan],
      dtype=object)

In [99]:
# Finally, Let's find out what the unique values are for "Species Status".
data["Species Status"].nunique()
data["Species Status"].unique()

array(['Native', 'Exotic', 'Domestic', 'Invasive', nan], dtype=object)

At this point we could find answers to some basic questions we may have such as:
- NYC is home to what species of animals?
- NYC is home to what types of animals (species status)?
- Where in NYC could we find animals?

## Exploring the data

But what if we wanted to answer more complex questions such as,
- are there more native or invasive animals living in Manahttan?
- do all types ('species status') of animals live in all 5 boroughs of NYC?
- do different species of animals live in different properties?

To answer more complex questions we will try filtering and grouping the data. The decisions that we make when doing this can be based on our knowledge of the topic, our curiosity to learn from the data, as well as informed by what we learn from the data (or all three!).

### Filtering data : are there more native or invasive animals living in Manahattan?

To filter data, the following commands are useful:

- data[col] - to work only with one column
- data[data.col == 'value'] - to extract rows that meet a particular criteria
- data[(data[col] > value) & (data[col] < value)] - to extract rows that meet more than one criteria

In [78]:
# We'll create a new dataframe with only the data for Manahattan
manhattan = data[data.Borough == 'Manhattan']
manhattan.shape
#manhattan.head()

(475, 22)

In [84]:
# What kind of species are in Manahattan
manhattan["Species Status"].unique()

array(['Native', 'Invasive', nan, 'Domestic', 'Exotic'], dtype=object)

In [17]:
# We only want to work with the species in Manhattan that are Native or Invasive
man_nat_inv = manhattan[(manhattan['Species Status'] == 'Native') | (manhattan['Species Status'] == 'Invasive')]
man_nat_inv.shape

(444, 22)

".value_counts()" shows us what the fequency of a value within each category

In [18]:
# To answer our question we want to know what number of spcies is native or invasive. What is the answer?
man_nat_inv['Species Status'].value_counts()

Native      441
Invasive      3
Name: Species Status, dtype: int64

### Grouping data : do all types (species status) live in all 5 boroughs?

To group data, the following commands are useful:
- data[[col1, col2]] - to work with only some columns
- data.groupby(col) - To group the data based on the values in one column
- data.groupby([col1,col2]) - To group the data based on the values in more than one column
- If we want to find out how big each group is, we can use use .size() to count the number of rows in each group.

In [66]:
# We'll create a new dataframe with only the data for 'Borough' and Species Status'
species_status = data[['Borough','Species Status']]
species_status.shape
species_status.head()

         Borough Species Status
0      Manhattan         Native
1          Bronx         Native
2       Brooklyn         Exotic
3       Brooklyn       Domestic
4  Staten Island       Invasive

In [68]:
q = species_status.groupby('Borough')['Species Status'].value_counts()
q

Borough        Species Status
Bronx          Native             51
               Domestic           10
               Invasive            3
               Exotic              2
Brooklyn       Native            191
               Domestic           15
               Invasive            7
               Exotic              2
Manhattan      Native            441
               Domestic           18
               Exotic              7
               Invasive            3
Queens         Native            111
               Domestic           23
               Exotic              2
               Invasive            1
Staten Island  Native             71
               Domestic            9
               Invasive            1
Name: Species Status, dtype: int64

In [70]:
# Try switching 'Borough" and "Species Status" using the same command as above and see what happens.
# What answers can you infer from the analysis?
r = species_status.groupby('Species Status')['Borough'].value_counts()
r
#The code allows us to see the frequency of Domestic vs. Exotic vs. Invasive vs. Native within
#various boroughs; thus, one can infer, for example, that domestic species reside more in
#Queens and natives species prove most dominant in Manhattan.

Species Status  Borough
Domestic        Queens            23
                Manhattan         18
                Brooklyn          15
                Bronx             10
                Staten Island      9
Exotic          Manhattan          7
                Bronx              2
                Brooklyn           2
                Queens             2
Invasive        Brooklyn           7
                Bronx              3
                Manhattan          3
                Queens             1
                Staten Island      1
Native          Manhattan        441
                Brooklyn         191
                Queens           111
                Staten Island     71
                Bronx             51
Name: Borough, dtype: int64

### Grouping data : do different species live in different properties (boroughs)?

In [72]:
# We'll create a new dataframe with only the data for 'Borough', Property' and 'Species Description'
species_desc = data[['Borough','Property','Species Description']]
species_desc.nunique()

Borough                  5
Property               193
Species Description    138
dtype: int64

In [74]:
g = species_desc.groupby(['Borough','Species Description'])['Property'].value_counts()
#g

In [76]:
h = species_desc.groupby(['Borough','Property'])['Species Description'].value_counts()
#h

In [85]:
# Try switching 'Borough", "Property" and "Species Description" using the same command as above and see what happens.
# What answers can you infer from the analysis?
a = species_desc.groupby(['Property','Borough'])['Species Description'].value_counts()
b = species_desc.groupby(['Borough','Property'])['Species Description'].value_counts()
#c = species_desc.groupby(['Borough','Property'])['Species Description'].value_counts()

In [89]:
a #a = group 'Species Description' by its corresponding values, 
  #within the 'Property' and 'Borough' columns

Property                                     Borough        Species Description
5 East 102nd St                              Manhattan      woodcock                             1
851 Fairmont Pl                              Bronx          Rooster                              1
Abingdon Square                              Manhattan      Raccoon                              1
Alley Pond Park                              Queens         Raccoon                             12
                                                            Cat                                  1
                                                            Chicken                              1
                                                            Red-Eared Slider                     1
Alley Pond Park Tennis Courts Near Court 16  Queens         Raccoon                              1
Allison Pond Park                            Staten Island  Snapping turtle                      1
Altamont House                               Staten Island  Black Racer Snake                    1
Annadale Green                               Staten Island  Raccoon                              1
Astoria Park                                 Queens         Chicken                              2
                                                            Parakeet                             1
                                                            Red Tailed Hawk                      1
                                                            Red-Bellied Woodpecker               1
Baisley Pond Park                            Queens         Bearded dragon                       1
                                                            Canada Goose                         1
                                                            Canada goose                         1
                                                            Dog                                  1
                                                            Iguana                               1
Bartel-Pritchard Square                      Brooklyn       Raccoon                              2
Battery Park City                            Manhattan      Pigeon                               1
                                                            crow                                 1
Bellevue South Park                          Manhattan      Red-tailed Hawk                      1
Blood Root Valley                            Staten Island  Deer                                 1
Bloomingdale Park                            Staten Island  Deer                                 1
Blue Heron Park                              Staten Island  Skunk                                2
                                                            Snapping Turtle                      1
                                                            White throated sparrow               1
Bowling Green                                Manhattan      Ring-Billed Gull                     1
Bowne Park                                   Queens         Red-Eared Slider                     1
Bronx Park                                   Bronx          Chicken                              1
Brooklyn Bridge Park                         Brooklyn       yellow bellied sap-sucker            1
Brookville Park                              Queens         Raccoon                              1
Bryant Park                                  Manhattan      Coopers Hawk                         1
                                                            Silver-haired Bat                    1
Bushwick Inlet Park                          Brooklyn       Canada Goose                         1
                                                            Chinese Silky Chicken                1
                                                            Seal                                 1
Cadman Plaza Park                            Brooklyn       Raccoon                              1
Calvert Vaux Park                            Brooklyn       Raccoon                              3
                                                            Swan                                 1
Cambria Playground                           Queens         Guineafowl                           1
Canarsie Park                                Brooklyn       Unknown Species                      1
Captain Tilly Park                           Queens         Chicken                              1
Carl Schurz Park                             Manhattan      Raccoon                              1
Cenral Park                                  Manhattan      Raccoon                              1
Centrail Park                                Manhattan      Opossum                              1
Central  Park                                Manhattan      Raccoon                              1
Central Park                                 Manhattan      Raccoon                            288
                                                            Squirrel                             7
                                                            Mandarin Duck                        4
                                                            Red-tailed Hawk                      4
                                                            Opossum                              3
                                                            American Robin                       2
                                                            Canada Goose                         2
                                                            Chicken                              2
                                                            Coopers Hawk                         2
                                                            Mallard Duck                         2
                                                            Snapping Turtle                      2
                                                            American Goldfinch                   1
                                                            Bat                                  1
                                                            Cooper's Hawk                        1
                                                            Cormorant                            1
                                                            Coyote                               1
                                                            Dog                                  1
                                                            Domestic Rabbit                      1
                                                            Double crested cormorant             1
                                                            Duck                                 1
                                                            Duck (species unknown)               1
                                                            Egret                                1
                                                            Monk Parakeet                        1
                                                            Northern Saw-whet Owl                1
                                                            Rabbit                               1
                                                            Red Tailed Hawk                      1
                                                            Red-Eared Slider                     1
                                                            Red-eared Slider Turtle              1
                                                            Red-eyed Vireo                       1
                                                            Robin                                1
                                                            Rock Dove                            1
                                                            Saw whet owl                         1
                                                            Turtle                               1
                                                            bat                                  1
                                                            cormorant                            1
                                                            double crested cormorant             1
                                                            gull                                 1
                                                            house sparrow                        1
                                                            pigeon                               1
                                                            silver-haired bat                    1
                                                            turtle                               1
Chelsea Park                                 Manhattan      Squirrel                             1
Churchill School                             Manhattan      Hummingbird                          1
Clove Lakes Park                             Staten Island  Canada Goose                         1
                                                            Domestic Duck                        1
                                                            Snapping Turtle                      1
Coffey Park                                  Brooklyn       Eastern Gray Squirrel                1
College Point Park                           Queens         Raccoon                              1
Colonel Charles Young Playground             Manhattan      Red-Tailed Hawk                      1
Concrete Plant Park                          Bronx          Raccoon                              1
Coney Island Beach &amp; Boardwalk           Brooklyn       Raccoon                              1
Conference House Park                        Staten Island  Harbor Porpoise                      1
                                                            Squirrel                             1
                                                            bird of prey                         1
Crocheron Park                               Queens         Raccoon                              1
Crotona Park                                 Bronx          Deer                                 1
                                                            Green Heron                          1
                                                            Mallard Duck                         1
                                                            Red-Tailed Hawk                      1
                                                            Red-tailed Hawk                      1
Cunningham Park                              Queens         Raccoon                              6
                                                            Chicken                              1
                                                            Red Bat                              1
Dongan Playground                            Staten Island  Opossum                              1
Dubos Point Wildlife Sanctuary               Queens         Dolphin                              1
Dyker Beach Park                             Brooklyn       Raccoon                              2
                                                            Skunk                                1
Ehrenreich-Austin Playground                 Queens         Raccoon                              1
Evergreen Park                               Queens         House Sparrow                        1
Ferry Point Park                             Bronx          Kestrel                              1
Flushing Fields                              Queens         Opossum                              1
Flushing Meadows Corona Park                 Queens         Raccoon                              5
                                                            Cormorant                            2
                                                            Dog                                  1
                                                            Downy woodpecker                     1
                                                            Red-Tailed Hawk                      1
                                                            Rock Dove                            1
Flushing Meadows Corona Park Boathouse       Queens         Mallard Duck                         1
Forest Park                                  Queens         Raccoon                             20
                                                            Bat                                  1
                                                            Dog                                  1
                                                            Fledgling (possibly Starling)        1
                                                            Skunk                                1
                                                            White Tailed Deer                    1
Fort Greene Park                             Brooklyn       Cat                                  2
Fort Hamilton Recreation Center              Brooklyn       Cooper's Hawk                        1
Fort Totten Park                             Queens         Chicken                              1
                                                            Raccoon                              1
                                                            Red-Eared Slider                     1
Fort Tryon Park                              Manhattan      Raccoon                              1
                                                            Red-tailed Hawk                      1
                                                            Skunk                                1
Fort Washington Park                         Manhattan      Skunk                                1
Frank Golden Park                            Queens         Raccoon                              1
Franklin D. Roosevelt Boardwalk and Beach    Staten Island  Double crested cormorant             1
                                                            Seal                                 1
Frederick B. Judge Playground                Queens         Chicken                              1
Frederick Douglass Playground                Manhattan      Snake                                1
Ft Tryon Park                                Manhattan      Guinea Pigs                          1
                                                            Raccoon                              1
Garden Playground                            Brooklyn       Canada Goose                         1
Greeley Square Park                          Manhattan      Woodcock                             1
Green Street                                 Bronx          Opossum                              1
Green-Wood Cemetery                          Brooklyn       Raccoon                              1
Greenbelt Recreation Center                  Staten Island  Chicken                              2
                                                            Cormorant                            1
                                                            Groundhog                            1
Haffen Park                                  Bronx          Raccoon                              1
Hamilton Fish Recreation Center              Manhattan      Red-tailed Hawk                      1
Harding Park                                 Bronx          Rooster                              1
Harvey Park                                  Queens         Raccoon                              1
                                                            Sharp Shinned Hawk                   1
Hester St. Playground                        Manhattan      Cooper's Hawk                        1
High Rock Park                               Staten Island  Turkey                               1
Highbridge Recreation Center                 Manhattan      Blue Jay                             1
Highland Park                                Queens         Raccoon                              2
                                                            Cockatiel                            1
                                                            Mute Swan                            1
                                                            Skunk                                1
                                                            Swan                                 1
Highline Park                                Manhattan      sparrow                              1
Historic Richmond Town                       Staten Island  Canada Goose                         3
Historic Richmond town                       Staten Island  Canada Goose                         1
Historic Richmondtown                        Staten Island  Canada Goose                         2
Hudson Park                                  Manhattan      Canada Goose                         1
Hudson River Park                            Manhattan      Canada Goose                         1
Hudson Yards entrance to Highline Park       Manhattan      Red-tailed Hawk                      1
Hylan Boulevard and Ithaca Street            Staten Island  Deer                                 1
Industrial Park                              Staten Island  Deer                                 2
Inwood Hill Park                             Manhattan      Raccoon                             13
                                                            Chicken                              4
                                                            Deer                                 2
                                                            Skunk                                2
                                                            Big Brown Bat                        1
                                                            Cat                                  1
                                                            Mallard duck                         1
                                                            Squirrel                             1
                                                            White-tailed deer                    1
Irving Square Park                           Brooklyn       Parrot                               1
Isham Park                                   Manhattan      Opossum                              1
J. Hood Wright Park                          Manhattan      Raccoon                              1
Jacob H. Schiff Playground                   Manhattan      Raccoon                              1
Jacob Joffe Fields                           Brooklyn       Chicken                              1
James Finley Walk                            Manhattan      Peregrine Falcon                     1
Joe Michaels Mile                            Queens         Raccoon                              1
John V. Lindsay East River Park              Manhattan      dutch blue love bird                 1
Joseph Manna Park                            Staten Island  Deer                                 2
Juniper Valley Park                          Queens         Raccoon                              4
                                                            Squirrel                             1
Kissena Corridor Park                        Queens         Chicken                              1
Kissena Park                                 Queens         Raccoon                              3
                                                            Freshwater Fish and Turtles          1

In [90]:
b

Borough        Property                                     Species Description
Bronx          851 Fairmont Pl                              Rooster                              1
               Bronx Park                                   Chicken                              1
               Concrete Plant Park                          Raccoon                              1
               Crotona Park                                 Deer                                 1
                                                            Green Heron                          1
                                                            Mallard Duck                         1
                                                            Red-Tailed Hawk                      1
                                                            Red-tailed Hawk                      1
               Ferry Point Park                             Kestrel                              1
               Green Street                                 Opossum                              1
               Haffen Park                                  Raccoon                              1
               Harding Park                                 Rooster                              1
               Magenta Playground                           Raccoon                              1
               Matthews Muliner Playground                  Raccoon                              2
               Merriam Playground                           Cat                                  1
               Mullaly Park                                 Chicken                              1
               Orchard Beach                                Raccoon                              2
                                                            Skunk                                2
                                                            Deer                                 1
                                                            Gull                                 1
                                                            Harbor Seal                          1
                                                            Mute Swan                            1
                                                            Seal                                 1
               Pelham Bay Park                              Raccoon                              7
                                                            Skunk                                2
                                                            Cat                                  1
                                                            Coyote                               1
                                                            White Tailed Deer                    1
               Pugsley Creek Park                           Raccoon                              1
               Riverdale Playground                         Cat                                  1
               Seton Falls Park                             Opossum                              1
               Space Time Playground                        Cat                                  1
               Story Playground                             Chicken                              1
               Taylor Playground                            Red-Eared Slider                     1
               Van Cortlandt Park                           Swan                                 5
                                                            Mallard Duck                         3
                                                            Canada Goose                         2
                                                            Coyote                               2
                                                            Painted Turtle                       2
                                                            Raccoon                              2
                                                            Turtle                               2
                                                            Alligator snapping turtle            1
                                                            Infant Squirrel                      1
                                                            Skunk                                1
                                                            Squirrel                             1
               Williamsbridge Oval                          Pigeon                               1
               Williamsbridge Oval Recreation Center        Bird                                 1
Brooklyn       Bartel-Pritchard Square                      Raccoon                              2
               Brooklyn Bridge Park                         yellow bellied sap-sucker            1
               Bushwick Inlet Park                          Canada Goose                         1
                                                            Chinese Silky Chicken                1
                                                            Seal                                 1
               Cadman Plaza Park                            Raccoon                              1
               Calvert Vaux Park                            Raccoon                              3
                                                            Swan                                 1
               Canarsie Park                                Unknown Species                      1
               Coffey Park                                  Eastern Gray Squirrel                1
               Coney Island Beach &amp; Boardwalk           Raccoon                              1
               Dyker Beach Park                             Raccoon                              2
                                                            Skunk                                1
               Fort Greene Park                             Cat                                  2
               Fort Hamilton Recreation Center              Cooper's Hawk                        1
               Garden Playground                            Canada Goose                         1
               Green-Wood Cemetery                          Raccoon                              1
               Irving Square Park                           Parrot                               1
               Jacob Joffe Fields                           Chicken                              1
               Lincoln Terrace Park                         Cat                                  1
               Marcy Playground                             Cat                                  1
               Maria Hernandez Park                         Red-tailed Hawk                      1
               Marine Park                                  Raccoon                              7
                                                            Swan                                 4
                                                            Eastern Gray Squirrel                2
                                                            Squirrel                             2
                                                            Blue Jay                             1
                                                            Brant                                1
                                                            Chicken                              1
                                                            Domestic Dove                        1
                                                            Hawk                                 1
                                                            Herring Gull                         1
                                                            Muskrat                              1
                                                            Opossum                              1
               McCarren Park                                Red Tailed Hawk                      1
                                                            Yellow Bellied Sapsucker             1
               Mellet Playgroun\d                           Eastern Gray Squirrel                1
               Owl's Head Park                              Raccoon                              5
                                                            House Sparrow                        1
               Parade Ground                                Chicken                              1
               Prospect Park                                Raccoon                            123
                                                            Canada Goose                         4
                                                            Mallard Duck                         2
                                                            Dog                                  1
                                                            Falcon                               1
                                                            Frog                                 1
                                                            Goose - White Pygmy                  1
                                                            Gull                                 1
                                                            Mute Swan                            1
                                                            Rabbit                               1
                                                            Red Tail                             1
                                                            Red-Eared Slider                     1
                                                            Ruddy Duck                           1
                                                            Swan                                 1
                                                            Turtle                               1
                                                            pigeon                               1
               Red Hook Recreation Area                     Gray squirrel                        1
               Saratoga Park                                Raccoon                              1
               Shore Park and Parkway                       Opossum                              2
                                                            Raccoon                              2
                                                            Yellow Crowned Night Heron           1
               Shore Road Park                              Homing Pigeon                        1
               Sunset Park                                  Opossum                              1
                                                            Raccoon                              1
               Van Dyke Playground                          Cat                                  1
Manhattan      5 East 102nd St                              woodcock                             1
               Abingdon Square                              Raccoon                              1
               Battery Park City                            Pigeon                               1
                                                            crow                                 1
               Bellevue South Park                          Red-tailed Hawk                      1
               Bowling Green                                Ring-Billed Gull                     1
               Bryant Park                                  Coopers Hawk                         1
                                                            Silver-haired Bat                    1
               Carl Schurz Park                             Raccoon                              1
               Cenral Park                                  Raccoon                              1
               Centrail Park                                Opossum                              1
               Central  Park                                Raccoon                              1
               Central Park                                 Raccoon                            288
                                                            Squirrel                             7
                                                            Mandarin Duck                        4
                                                            Red-tailed Hawk                      4
                                                            Opossum                              3
                                                            American Robin                       2
                                                            Canada Goose                         2
                                                            Chicken                              2
                                                            Coopers Hawk                         2
                                                            Mallard Duck                         2
                                                            Snapping Turtle                      2
                                                            American Goldfinch                   1
                                                            Bat                                  1
                                                            Cooper's Hawk                        1
                                                            Cormorant                            1
                                                            Coyote                               1
                                                            Dog                                  1
                                                            Domestic Rabbit                      1
                                                            Double crested cormorant             1
                                                            Duck                                 1
                                                            Duck (species unknown)               1
                                                            Egret                                1
                                                            Monk Parakeet                        1
                                                            Northern Saw-whet Owl                1
                                                            Rabbit                               1
                                                            Red Tailed Hawk                      1
                                                            Red-Eared Slider                     1
                                                            Red-eared Slider Turtle              1
                                                            Red-eyed Vireo                       1
                                                            Robin                                1
                                                            Rock Dove                            1
                                                            Saw whet owl                         1
                                                            Turtle                               1
                                                            bat                                  1
                                                            cormorant                            1
                                                            double crested cormorant             1
                                                            gull                                 1
                                                            house sparrow                        1
                                                            pigeon                               1
                                                            silver-haired bat                    1
                                                            turtle                               1
               Chelsea Park                                 Squirrel                             1
               Churchill School                             Hummingbird                          1
               Colonel Charles Young Playground             Red-Tailed Hawk                      1
               Fort Tryon Park                              Raccoon                              1
                                                            Red-tailed Hawk                      1
                                                            Skunk                                1
               Fort Washington Park                         Skunk                                1
               Frederick Douglass Playground                Snake                                1
               Ft Tryon Park                                Guinea Pigs                          1
                                                            Raccoon                              1
               Greeley Square Park                          Woodcock                             1
               Hamilton Fish Recreation Center              Red-tailed Hawk                      1
               Hester St. Playground                        Cooper's Hawk                        1
               Highbridge Recreation Center                 Blue Jay                             1
               Highline Park                                sparrow                              1
               Hudson Park                                  Canada Goose                         1
               Hudson River Park                            Canada Goose                         1
               Hudson Yards entrance to Highline Park       Red-tailed Hawk                      1
               Inwood Hill Park                             Raccoon                             13
                                                            Chicken                              4
                                                            Deer                                 2
                                                            Skunk                                2
                                                            Big Brown Bat                        1
                                                            Cat                                  1
                                                            Mallard duck                         1
                                                            Squirrel                             1
                                                            White-tailed deer                    1
               Isham Park                                   Opossum                              1
               J. Hood Wright Park                          Raccoon                              1
               Jacob H. Schiff Playground                   Raccoon                              1
               James Finley Walk                            Peregrine Falcon                     1
               John V. Lindsay East River Park              dutch blue love bird                 1
               Madison Square Park                          Bat                                  1
               Mannahatta Park                              Red-tailed Hawk                      1
               Mercer Playground                            Bat                                  1
               Morningside Park                             Raccoon                              4